<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>Add a Quote</h1>

    <div class="userinput">
      <form #formData="ngForm">
        <textarea                         type="text" name="quote"  required [(ngModel)] = "cite.quote"  #quote="ngModel"  minlength="4" maxlength="200" placeholder="Add quote"  rows="10" cols="80" ></textarea><span style="color:red" *ngIf="!quote.valid">Quote is Required!</span><br>
        <div class="input">Author  <input type="text" name="author" required [(ngModel)] = "cite.author" #author="ngModel" minlength="1"></div>                                                                   <span style="color:red" *ngIf="!author.valid">Author is Required!</span>
        <button name="add" class="btn" (click)="onSubmit()" [disabled]="!formData.valid">Add Quote</button>
      </form>
    </div>

    <h1>Quotes List</h1>
</div>

<app-quote-list [cites]="list"></app-quote-list>